.jumbotron {
	background-image: url(img/back3.jpg);
    background-size: cover;
    text-align: center;
   text-shadow: 2px 2px 4px white;"
}
.navbar-nav > li > .dropdown-menu { 
	background-color: #C9FDC4;
}